:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.homepage-container {
  max-width: 90%;
  margin: 0 auto;
}

.about-page-container {
  max-width: 70%;
  margin: 0 auto;
}

.header-container {
  position: relative;
  text-align: center;
  color: white;
}

.header-img {
  width: 100%;
  height: auto;
}

.overlay {
  width: 100%;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-us-header {
  margin-top: 100px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

a {
  text-align: center;
}

img {
  border-radius: 6px;
}

.container {
  max-width: 100%;
}

.intro-text {
  margin: 20px auto;
  font-size: 20px;
  max-width: 70%;
}

.navigation-link {
  display: flex;
  justify-content: center;
}

.navigation-link a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  width: 120px;
  text-align: center;
}

.more-info-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact {
  text-align: center;
}
